html {
    /* font-size: 10px; px means "pixels": the base font size is now 10 pixels high  */
    background-color: rgb(219, 212, 212); 
  }

body {
    text-align: center;
    }

h1 {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 60px;
  }

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
   /* width:600px; */
}

h2 {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 40px;
  }

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: right;
    border: black;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: black;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: black;
}